@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Titillium Web',
    sans-serif;
}

body {
    background-color: #020202;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #04293A, #000103);
    flex-direction: row;
    padding: 0px 60px;
    width: 100%;
    height: 50px;
}
.logo {
    height: 50%;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav_links {
    display: flex;
    gap: 40px;
}

.nav_links a {
    font-size: 15px;
    letter-spacing: 1px;
    color: #eafff8;
}

.nav_links a:hover {
    color: #ecdda2;
    transition: .5s;
}
.cart-icon {
    display: flex;
    border: 1px solid #eafff8;
    padding: 4px 6px;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
    
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    
}
.hero-info h1 {
    font-weight:900;
    font-size: 44px;
    width: 60%;
    background: linear-gradient(to top, #8fb2ba, #3595a8);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-info p {
    font-weight: 600;
    width: 80%;
    color: #9c9ca0;
}

.hero-info-botton{
    display: flex;
    gap: 30px;
}

.hero-info-botton a {
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    padding: 3px 16px;
}

.hero-info-botton a:first-child{
    background: radial-gradient(#04293A, #194354);
    color:#a9b1b4;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-info-botton a:last-child {
    border: 2px solid #373739;
    color: #a9b1b4;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-info-botton a:hover {
    color: #ffffff;
    transition: .5;
}

.hero-info-img{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    padding: 1px;
}

.hero-info-img img {
    border-radius: 10px;
}

#text-info{
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

.text-info-div {
    max-width: 67%;
    background-color: #155360;
    padding: 15px;
    border-radius: 10px;
    color: #d4e1e3;
}

